<template id="animal-card-template">
    <div class="animal-card">
        <img src="" alt="" class="img_card">
        <h6 class="name_card"></h6>
        <h6 class="specie_card"></h6>
        <h6 class="age_card"></h6>
    </div>
</template>

<div id="animal_list"></div>