{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Zoo{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
    <div class="page_container">
        <h1>Animaux</h1> 
    
    </div>

{% endblock %}