:root,[data-bs-theme=own] {
    --bs-body-bg: blue;
    --bs-body-color-rgb: var(--text-color-rgb);
    --bs-body-color: var(--text-color);
    --bs-body-font-family: var(--font-family-base);
    --bs-body-font-size: var(--font-size-base);
    --bs-body-font-weight: normal;
    --bs-border-color: var(--border-color);
    --bs-border-radius-lg: var(--border-radius-lg);
    --bs-border-radius-sm: var(--border-radius-sm);
    --bs-border-radius: var(--border-radius);
    --bs-border-width: var(--border-width);
    --bs-code-color: var(--code-color);
    --bs-danger-rgb: var(--color-danger-rgb);
    --bs-danger: var(--color-danger);
    --bs-emphasis-color-rgb: var(--text-color-rgb);
    --bs-emphasis-color: var(--text-color);
    --bs-font-monospace: var(--font-family-monospace);
    --bs-form-invalid-border-color: var(--color-danger);
    --bs-form-invalid-color: var(--color-danger);
    --bs-form-valid-border-color: var(--color-success);
    --bs-form-valid-color: var(--color-success);
    --bs-heading-color: var(--text-color);
    --bs-highlight-bg: var(--highlight-bg);
    --bs-highlight-color: inherit;
    --bs-info: var(--color-info);
    --bs-link-color-rgb: var(--link-color-rgb);
    --bs-link-decoration: none;
    --bs-link-hover-color-rgb: var(--link-hover-color-rgb);
    --bs-link-opacity: 1;
    --bs-primary: var(--color-primary);
    --bs-secondary-bg: var(--secondary-bg);
    --bs-secondary-color: var(--text-secondary-color);
    --bs-secondary: var(--text-muted);
    --bs-success: var(--color-success);
    --bs-tertiary-bg: var(--tertiary-bg);
    --bs-tertiary-color: var(--text-tertiary-color);
    --bs-warning: var(--color-warning)
}