header{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: var(--color4);
    justify-content:space-between;
    align-items:center;
}
.navbar{
    display: flex;
    flex-direction: row;
 
}
.navbar a{
    padding: 10px;
    color: var(--color1);
    text-decoration: none;
    cursor: pointer;
}
.logo {
    margin-left: 2rem;
    max-width: 81px; 
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




.burger {
    display: none;
    font-size: 24px;
    color: var(--color1);
    cursor: pointer;
    padding: 10px;

}

@media (max-width: 768px) {
    header{
        height: 80px;
    }
    .logo {
        margin-left: 1rem;
        max-width: 61px; 
        height: auto;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: var(--color4);
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
        margin-right: 2rem;
    }

    .navbar {
        justify-content: space-between;
        width: 100%;
    }
}
